@model IEnumerable<KuberaManager.Models.Database.Config>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ConfKey })
            </td>
        </tr>
}
    </tbody>
</table>
