@model IEnumerable<KuberaManager.Models.Database.Computer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Computers</h1>

<p>
    <a asp-action="AutoDetect">Auto-detect New</a> |
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxClients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowCpuMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperLowCpuMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisableModelRendering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisableSceneRendering)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hostname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxClients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowCpuMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperLowCpuMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableModelRendering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableSceneRendering)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
